.search-container {
    display: flex;
    justify-content: center;
    margin: 10px;

}

.search-input {
    font-size: 15px;
    padding: 8px 15px;
    width: 250px;
    border-width: 0;
    color: azure;
    background: #303030;
    border-radius: 50px;
}


.search-input::placeholder {
    color: azure;
}

.search-input:focus {
    outline: none;
}