body {
    background-color: rgb(185, 186, 198);
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;



}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.left-side {
    padding: 10px;
}